<h1> Event </h1>
<%= "Name: " + @event.name %><br>
<%= "Creator: " + @event.creator.username %><br>
<%= "Attendees: "%><br>
<% @event.attendees.each do |attendee| %>
  <%= attendee.username %><br>
<% end %>